@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --lucosky: #003b6f;
    --background: 0, 0%, 100%;
    --foreground: 240 10% 3.9%;

    --card: 180, 2%, 10%, 5%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 212 22% 25%;
    --primary-foreground: 0 0% 98%;

    --secondary: 215 33% 65%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 0 0% 80%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 210 13% 6%;
    --foreground: 0 0% 98%;

    --card: 180, 2%, 90%, 5%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 212 22% 75%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 215 33% 35%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 211 42% 55%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
  }

  h2 {
    @apply scroll-m-20  text-3xl font-semibold tracking-tight first:mt-0;
  }
  h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
  }
  h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }

  p {
    @apply text-black;
  }

  .lead {
    @apply text-xl text-muted-foreground;
  }
}

html,
p {
  font-family: var(--font-merriweather);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-work-sans);
}

header {
  font-family: var(--font-work-sans);
}

footer {
  font-family: var(--font-work-sans);
}

.big-container {
  margin-inline: auto;
  width: min(90%, 80.5rem);
}

.narrow-container {
  margin-inline: auto;
  width: min(80%, 55.5rem);
}

.block-space {
  padding-block: min(12vh, 17rem);
}

.block-space-mini {
  padding-block: min(3vh, 6rem);
}

.parent-container {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}
